.filter-list {
    display: flex;
}

.filter-list li {
    margin-right: 5px;
    padding: 2px 3px;
    cursor: pointer;
    border: 3px solid rgba(255, 144, 000, 0.4);
    transition: all 0.3s ease;
}

.filter-list li:hover {
    background-color: rgba(255, 144, 000, 0.4);
    border: 3px solid rgba(255, 144, 000, 0.6);
}

.filter-list .selected {
    background-color: rgba(255, 144, 000, 0.4);
    border: 3px solid rgba(255, 144, 000, 0.6);
}